<div style="width: 1440px; height: 90px; padding-left: 686px; padding-right: 686px; padding-top: 11px; padding-bottom: 11px; background-color: white; display: inline-flex; flex-direction: row; align-items: center; justify-content: center;">
    <img style="width: 68px; height: 68px;" src="https://via.placeholder.com/68x68" />
</div>
<div style="width: 1440px; height: 80px; padding-left: 200px; padding-right: 202px; background-color: rgba(30, 30, 30, 1); display: inline-flex; flex-direction: row; align-items: flex-end; justify-content: flex-end;">
    <p style="width: 243px; height: 100%; font-size: 24px; line-height: 100%; text-align: center; color: white;">Главная</p>
    <div style="width: 22px;" />
    <p style="width: 243px; height: 100%; font-size: 24px; line-height: 100%; text-align: center; color: white;">Курсы</p>
    <div style="width: 22px;" />
    <p style="width: 243px; height: 100%; font-size: 24px; line-height: 100%; text-decoration: underline; text-align: center; color: white;">Расписание</p>
    <div style="width: 22px;" />
    <p style="width: 243px; height: 100%; font-size: 24px; line-height: 100%; text-align: center; color: white;">Личный кабинет</p>
</div>
<!-- ???? -->